<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhengjiani</title>
</head>
<body>

<form method="post">
    {{ form.csrf_token() }}
    {{ form.tester.label }}{{ form.tester }}<br>
    {{ form.po.label }}{{ form.po }}<br>
    {{ form.submit }}
    {# 显示消息闪现 #}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>

<hr>

<ul>
    {% for tester in testers %}
        <li>{{ tester.name }}<a href="{{ url_for("po.delete_tester",tester_id=tester.id) }}">删除</a></li>
        <ul>
            {% for po in tester.pos %}
                <li>{{ po.name }}<a href="{{ url_for("po.delete_po",po_id=po.id) }}">删除</a></li>
            {% else %}
                <li>无</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
</body>
</html>